.btn {
  border-color: #000;
  color: #000;
}

@media only screen and (min-width: 38em) {

  .btn-div {
    text-align: right;
    color: #000;
    border-color: #000;
  }


@media only screen and (min-width: 60em) {

  .loyal-section {
    background-image: linear-gradient(to bottom, rgba(0, 100, 0, 0), rgba(0, 0, 0, .9));
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .loyal-header {
    max-height: 500px;
    overflow: hidden;
    position: relative;
  }

  .btn {
    border-color: #fff;
    color: #fff;
  }

  .btn-div {
    text-align: right;
  }

  .about-paragraph {
    color: #fff;
  }

  .loyal-h1 {
    color: #fff;
    font-family: Sansita, sans-serif;
  }

}
